<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <center>
    <img src="https://res.cloudinary.com/oddro/image/upload/v1541058142/Screen_Shot_2018-11-01_at_14.40.44_ckotii.png">
  </center>
</body>

</html>